body {
  background: #18181c;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow: hidden;
  font-size: 15px;
}

#background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background: url('https://source.unsplash.com/random/1920x1080/?landscape'); */
  background: url('https://images.unsplash.com/photo-1544111795-fe8b9def73f6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9');
  background-position: center;
  background-size: cover;
  filter: blur(5px) brightness(.5);
  transform: scale(1.1);
  animation: fadein-background .5s cubic-bezier(.75,-0.5,0,1.75);
}

.time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  animation: fadein-time .5s cubic-bezier(.75,-0.5,0,1.75);
}

#time {
  font-weight: 100;
  font-size: 5em;
  opacity: .75;
  padding: .25em;
  line-height: 1;
  background: rgba(0,0,0,.25);
  border: 2px solid rgba(255,255,255,.25);
  user-select: none;
}

@keyframes fadein-time {
  from { 
    opacity: 0;
    transform: scale(.5);
  }
  to { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein-background {
  from { 
    transform: scale(1.0);
  }
  to { 
    transform: scale(1.1);
  }
}

#settings-button {
  position: absolute;
  top: 5px;
  right: 5px;
  user-select: none;
  cursor: pointer;
  opacity: .7;
  transition: .3s opacity;
}

#settings-button:hover {
  opacity: 1;
}

#settings {
  background-color: rgba(0,0,0,.33);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  animation: fadein-settings .5s;
}

#settings-dialog {
  min-width: 300px;
  min-height: 500px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadein-settings-dialog .5s;
  border: 2px solid rgba(255,255,255,.25);
}

#settings-dialog.fadeout {
  animation: fadeout-settings-dialog .5s forwards;
}

#settings.fadeout {
  animation: fadeout-settings .5s forwards;
}

@keyframes fadein-settings {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-settings-dialog {
  from {
    transform: translate(-50%, -75%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeout-settings {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout-settings-dialog {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -75%);
  }
}

#settings-close-button-wrapper {
  padding: 6px;
  text-align: right;
}

#settings-close-button {
  user-select: none;
  cursor: pointer;
}

#settings-title {
  display: block;
  padding: 5px;
  font-size: 32px;
  text-align: center;
}

.setting {
  padding: 10px;
  text-align: center;
}

.setting-name {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
}

.setting-name:after {
  content: "abc";
  position: absolute;
  left: 50%;
  border-bottom: 2px solid white;
  color: transparent;
  pointer-events: none;
  transform: translate(-50%, 5px);
}

.setting select {
  font-size: 16px;
  background-color: #000;
  border: 1px solid rgba(255,255,255,.5);
  color: #fff;
  outline: none;
  width: 200px;
}