html {
  max-height: 512px;
  width: 256px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
}

body {
  color: #404044;
  max-height: 512px;
  width: 256px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
  background: #F8F8FC;
  box-shadow: 0 0 0 1px #D8D8D8;
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

section:not(:last-child) {
  box-shadow: 0 1px 0 0 #D8D8D8;
}

section {
  padding: 10px;
}